 <div class="container">
    <div>
    <h2>Ajouter un Vetement :</h2>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID Vetement</label>
        <input type="text" [(ngModel)]="newVetement.idVetement"
        name="idVetement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Vetement</label>
        <input type="text"[(ngModel)]= "newVetement.nomVetement"
        name="nomVetement" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Prix Vetement</label>
        <input type="number" [(ngModel)]= "newVetement.prixVetement"
        name="prixVetement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Quantité</label>
        <input type="number" [(ngModel)]= "newVetement.quantiteVetement"
        name="quantiteVetement" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Type</label>
            <input type="text"[(ngModel)]= "newVetement.typeVetement"
            name="typeVetement" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>Boutique</label>
                <select class="form-control form-control-lg" id="idBoutique" name="idBoutique"
                [(ngModel)]="newIdBou">
                 <option *ngFor="let bou of boutique" [value]="bou.idBoutique" >
                 {{bou.nomBout}}
                </option>
                </select>
                </div>
        <div class="mt-2">
        <button type="submit" (click)="addVetement()"class="btn btn-success">Ajouter</button>
        </div>
        </form>
        </div>
    
 