 <div class="container">
    <div>
    <h2>Modifier un Vetement :</h2>
    </div>
    <form >
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
    <label >ID Vetement</label>
    <input readonly type="text" [(ngModel)]="currentVetement.idVetement"
    name="idVetement" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Nom Vetement</label>
    <input type="text"[(ngModel)]= "currentVetement.nomVetement"
    name="nomVetement" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Prix Vetement</label>
    <input type="number" [(ngModel)]= "currentVetement.prixVetement"
    name="prixVetement" class="form-control">
    </div>

<div class="col-sm-2 col-md-2 col-lg-2">
<label >Quantité</label>
<input type="number" [(ngModel)]= "currentVetement.quantiteVetement"
name="quantiteVetement" class="form-control">
</div>
<div class="col-sm-2 col-md-2 col-lg-2">
    <label >Type Vetement</label>
    <input type="text" [(ngModel)]= "currentVetement.typeVetement"
    name="typeVetement" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Boutique</label>
        <select class="form-control form-control-lg" id="idCat" name="idCat"
        [(ngModel)]="updatedBouId">
        <option *ngFor="let bou of boutiques" [value]="bou.idBoutique" >
        {{bou.nomBout}}
        </option>
        </select>
        </div>
    
<div class="mt-2">
<button type="submit" (click)="updateVetement()" class="btn btn-success">Modifer</button>
</div>
</form>
</div>

 